/*=======================================================================================*/
/*                                  Global                                               */
/*=======================================================================================*/

:root {
  /* Colour variables */
  --alto: #dbdbdb;
  --black:#000000;
  --charcoal:#203C46;
  --gainsboro: #dce2e5;
  --mahogany:#B84D00;
  --tundora: #443f3f;
  --wedgewood: #47859a;
  --white: #ffffff;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Times, monospace, serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
  color: var(--black);
  background: rgb(220,226,229);
  background: radial-gradient(circle, rgba(220,226,229,1) 0%, rgba(157,197,210,1) 100%);}

.container {
  width: 65%;
  height: 100vh;
  margin: auto;
  padding-top: 20px;
}

/*=======================================================================================*/
/*                                  Form                                                 */
/*=======================================================================================*/

.header-h1 i {
  padding-right: 15px;
  color: var(--mahogany);
}

.form-task {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.form-task * {
  height: 40px;
  margin-top: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.form-task input[type="text"] {
  width: 500px;
}

.form-task input[type="submit"] {
  width: 100px;
}

#form-add-btn {
  font-size: 1.01rem;
  color: var(--white);
  background-color: var(--mahogany);
}

#form-add-btn:hover {
  cursor: pointer;
  opacity: .5;
  transition: .9s;
  border: 1px solid black;
}

#filterButtons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin-top: 1.5rem;
}

#filterButtons button {
  flex-basis: 100px; /* default the size of each flex item to be same */
  font-size: 1.01rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--charcoal);
}

#filterButtons button:hover{
  cursor: pointer;
  opacity: .5;
  transition: .9s;
}


/*=======================================================================================*/
/*                                  Task List                                            */
/*=======================================================================================*/
#task-list-title {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  
}
#task-list {
  width: 400px;
  margin-top: 20px;
  padding: 20px;
}

.table-list {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

td,
th {
  text-align: left;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-top: 1px solid var(--alto);
}

.delete {
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  border: none;
  color: var(--mahogany);
  background-color: inherit;
}